/*
====================================================== 
Styles of footer
====================================================== 
*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background: #2d3436; */
}

footer p {
  /* color: #d3d3d3; */
  font-size: var(--fs-p-sm);
}

.hero-bg {
  width: 100%;
  max-width: 420px;
  object-fit: cover;
  object-position: center;
  height: 38vh;
  /* border: 1px solid red; */
  /* aspect-ratio: 21 / 8.4; */
  aspect-ratio: 4 / 3;
  /* filter: blur(0.4px); */
}
