/*
====================================================== 
Styles of header
====================================================== 
*/
.menu-btn {
  border: 0;
  background: transparent;
  padding: 0;
}

.language {
  display: none;
  gap: 0.4rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.language p {
  margin-bottom: 0;
  font-size: 0.7rem;
  font-weight: 300;
  font-style: normal;
  font-family: var(--font-secondary);
}
/* End of styles of header */

/*
====================================================== 
Media queries 
====================================================== 
*/
@media screen and (min-width: 768px) {
  header .nav-bar ul,
  header .cta-header {
    display: flex;
  }

  header .nav-bar {
    display: flex;
    align-items: center;
  }

  .nav-bar ul {
    align-items: center;
  }

  .language {
    display: flex;
  }

  .lang-icon {
    width: 16px;
    height: 16px;
  }

  .language .current-lang {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: none;
    background: transparent;
  }

  .label-lang {
    font-size: var(--fs-p-sm);
    font-weight: 300;
  }

  .opts-lang {
    display: flex;
    margin-left: 0.4rem;
    gap: 0.8rem;
    visibility: hidden;
    pointer-events: none;
  }

  header .nav-bar a {
    font-size: var(--fs-p-sm);
    margin-right: 1.4rem;
    font-weight: 300;
    color: var(--color-primary);
  }

  header .nav-bar .cta-header {
    margin-right: 0;
  }

  .networks a:last-child,
  .nav-bar li:last-child a {
    margin-right: 0;
  }

  .menu-btn {
    display: none;
  }

  header .networks {
    display: flex;
    justify-content: space-between;
  }

  header .networks a {
    width: 20px;
  }

  header .networks img {
    width: 16px;
    height: 16px;
    filter: invert(1);
  }

  .nav_spacer {
    background-color: var(--color-primary);
    opacity: 0.2;
    width: 1px;
    margin: 0 1.4rem;
    align-self: center;
    height: 1.2rem;
    color: var(--color-primary);
  }

  header .networks a {
    margin-right: 0.4rem;
  }
}
