.menu-section {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-sm);
  margin-top: var(--height-header);
  font-weight: 200;
  background-color: var(--color-bg-main);
  z-index: 4;
  inset: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease;
}

.menu-section.hidden {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 250ms ease,
    visibility 0s linear 250ms;
}

.lang,
.social-net,
.contact-menu,
.menu-bottom,
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-list {
  gap: 1.4rem;
  width: 100%;
}

.menu-bottom {
  gap: 2rem;
}
.menu-list li {
  width: 100%;
}

.menu-list span {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: var(--fs-p-sm);
  margin-right: 0.4rem;
}

.menu-list .menu-link {
  display: inline-block;
  width: 100%;
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: var(--fs-p-lg);
  cursor: pointer;
}

.contact-menu,
.lang,
.social-net {
  gap: 1rem;
}

.opt-lang {
  display: flex;
  gap: 0.8rem;
  border-radius: var(--border-radius);
  padding: 0.6rem 0.8rem;
  width: fit-content;
  background-color: rgba(192, 192, 192, 0.2);
}

.opt-lang > a {
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
  color: var(--color-paragraph);
  font-size: var(--fs-p-sm);
  background-color: transparent;
}

.opt-lang > .menu-link.current {
  color: var(--color-bg-main);
  background-color: rgba(75, 75, 75, 0.8);
}

.social-net-links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.title-section {
  font-family: var(--font-primary);
  font-size: var(--fs-p-sm);
  text-transform: uppercase;
  font-weight: 600;
}

.menu-link {
  font-size: var(--fs-p-sm);
  color: var(--color-paragraph);
}

li .arrow {
  height: 18px;
  width: 18px;
  transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu-bottom .menu-link.link,
.contact-menu .menu-link.link {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .menu-section {
    display: none;
  }
}
