/node_modules
/dist
/.env
.DS_Store
/logs
*.log
/coverage    
dist/              
.env
.env.*
.cache/
 dist/               
 .vsco  de/ 
 _site/
 
 # Eleventy build output
_site/
dist/



.dev.vars
.wrangler/
