/*
====================================================== 
Layout of main
====================================================== 
*/

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  max-width: 1400px;
  margin: 0 auto;
}

/*
====================================================== 
Layout of sections
====================================================== 
*/

/* .hero-section, */
.services-section,
.testimonials-section,
.contact-section,
.galery-section,
.faq-section,
.company-section {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-sm) 0;
}

/*
====================================================== 
Space top between top sections and h2
====================================================== 
*/

@media screen and (min-width: 768px) {
  /*
  ====================================================== 
  Layout of sections
  ====================================================== 
  */

  /* .hero-section, */
  .services-section,
  .testimonials-section,
  .contact-section,
  .galery-section,
  .company-section,
  .faq-section {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  /*
  ====================================================== 
  Layout of sections
  ====================================================== 
  */
  /* .hero-section, */
  .testimonials-section,
  .services-section,
  .contact-section,
  .galery-section,
  .company-section,
  .faq-section {
    padding-right: 48px;
    padding-left: 48px;
  }
}
