{% set t = i18n[lang] %}
<!DOCTYPE html>
<html lang="{{ lang }}" translate="no">
  {% include "partials/head.njk" %}
  <body data-page="{{ pageKey }}">
    <!-- {% include "partials/loader.njk" %}  -->

    {% include "partials/header.njk" %} {% include "partials/menu.njk" %}

    <main id="page">{{ content | safe }}</main>

    {% include "partials/footer.njk" %} {% include "partials/to-top-button.njk"
    %} {% vite "assets/js/main.js" %}
  </body>
</html>
