@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
} /*Used*/

@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
} /*Used*/

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../fonts/CormorantGaramond-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
} /*Used*/

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../fonts/CormorantGaramond-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../fonts/CormorantGaramond-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
} /*Used*/

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../fonts/CormorantGaramond-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../fonts/CormorantGaramond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
} /*Used*/

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../fonts/CormorantGaramond-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
