<header>
  <div class="left">
    <a class="logo" href="{{ t.routes.home }}">
      <span class="brand">Lift Service</span><br />
      Demenagement
    </a>
    <div class="nav_spacer"></div>
    <div class="language">
      <p>FR</p>
      <!-- <div class="nav_spacer"></div>
      <p>EN</p> -->
    </div>
  </div>

  <nav class="nav-bar normal">
    <ul>
      <li>
        <a href="{{ t.routes.services }}">{{ t.nav.services }}</a>
      </li>
      <li>
        <a href="{{ t.routes.company }}">{{ t.nav.company }}</a>
      </li>
      <li>
        <a href="{{ t.routes.our_work }}">{{ t.nav.our_work }}</a>
      </li>
      <li>
        <a href="{{ t.routes.contact }}">{{ t.nav.contact }}</a>
      </li>
      <!-- <a class="cta-btn cta-header">
      <p>{{ t.section.hero.cta}}</p>
      <svg
        class="arrow"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 17L17 7M17 7H8M17 7V16"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a> -->
    </ul>

    <div class="nav_spacer"></div>
    <div class="networks">
      <a href="https://wa.link/c4viwy" rel="noopener noreferrer" target="_blank"
        ><img
          src="../../assets/images/icons/whatsapp.svg"
          alt="icône de whatsapp"
      /></a>
      <a
        href="https://www.instagram.com/nunezassocies/"
        rel="noopener noreferrer"
        target="_blank"
        ><img
          src="../../assets/images/icons/instagram.svg"
          alt="icône de instagram"
      /></a>

      <a
        href="https://www.tiktok.com/@nunezassocies"
        rel="noopener noreferrer"
        target="_blank"
        ><img src="../../assets/images/icons/tiktok2.svg" alt="icône de tiktok"
      /></a>

      <!--
            <a
              href="https://www.facebook.com/lliftservicedemenagement"
              rel="noopener noreferrer"
              target="_blank"
              ><img src="./images/icons/facebook.svg" alt="icône de facebook"
            /></a>
          -->
    </div>
    <!-- <a class="cta-btn cta-header">
      <p>{{ t.section.hero.cta}}</p>
      <svg
        class="arrow"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 17L17 7M17 7H8M17 7V16"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a> -->
  </nav>

  <div class="menu-btn">
    <svg
      viewBox="0 0 24 24"
      fill="none"
      id="menu-icon"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
    >
      <path
        id="line-top"
        d="M11 7H19"
        stroke="#27334b"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        id="line-middle"
        d="M5 12H19"
        stroke="#27334b"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        id="line-bottom"
        d="M5 17H13"
        stroke="#27334b"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </div>
</header>
