<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="{{ t.locale }}" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover"
  />

  <title>{{ t.pages[pageKey].title }}</title>
  <meta name="description" content="{{ t.pages[pageKey].description }}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ t.pages[pageKey].title }}" />
  <meta
    property="og:description"
    content="{{ t.pages[pageKey].description }}"
  />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Lift Service Déménagement" />

  <!-- Canonical -->

  <link
    rel="canonical"
    href="https://www.liftservicebel.com{{ t.routes[pageKey] }}"
  />

  <link
    rel="alternate"
    hreflang="fr-be"
    href="https://www.liftservicebel.com{{ t.routes[pageKey] }}"
  />

  <link
    rel="alternate"
    hreflang="es-es"
    href="https://www.liftservicebel.com{{ i18n.es.routes[pageKey] }}"
  />
  <link
    rel="alternate"
    hreflang="en-gb"
    href="https://www.liftservicebel.com{{ i18n.en.routes[pageKey] }}"
  />

  <link
    rel="alternate"
    hreflang="x-default"
    href="https://www.liftservicebel.com{{ t.routes[pageKey] }}"
  />

  <!-- Icons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon/favicon-32x32.png"
  />

  <link
    rel="preload"
    href="/assets/fonts/CormorantGaramond-Font-subset.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <link
    rel="preload"
    href="/assets/fonts/Manrope-Font-subset.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <style>
    @font-face {
      font-family: "Cormorant Garamond";
      src: url("/assets/fonts/CormorantGaramond-Font-subset.woff2")
        format("woff2");
      font-display: swap;
      size-adjust: 100%;
    }

    @font-face {
      font-family: "Manrope";
      src: url("/assets/fonts/Manrope-Font-subset.woff2") format("woff2");
      font-display: swap;
      size-adjust: 100%;
    }

    :root {
      /* Fonts */
      --font-primary: "Cormorant Garamond", Georgia, serif;

      --font-secondary:
        "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

      --fs-h1-lg: clamp(2.34rem, 0.99vi + 2.1rem, 2.89rem);

      --color-bg-main: #f5f3e5;
      --color-heading: #4c3c2c;

      --height-header: 80px;
      --padding-sm: 24px;

      --fs-p-sm: clamp(0.8rem, -0.04vi + 0.81rem, 0.77rem);
      --fs-p-md: clamp(1.25rem, 0.2vi + 1.2rem, 1.37rem);
    }

    html {
      box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    body {
      margin: 0;
      font-family: var(--font-secondary);
      background: var(--color-bg-main);
    }

    header {
      position: fixed;
      top: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.4rem var(--padding-sm);
      z-index: 3;
      width: 100%;
      height: var(--height-header);
      background-color: var(--color-bg-main);
    }

    header .logo {
      font-size: var(--fs-p-sm);
      font-weight: 400;
      color: var(--color-heading);
    }

    header .logo .brand {
      color: var(--color-primary);
      font-weight: 700;
    }

    #menu-icon {
      width: 32px;
      height: 32px;
      /* transform: translateX(-5px); */
    }

    .left-header {
      display: flex;
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 8rem;
      max-width: 1400px;
      margin: 0 auto;
    }

    .hero-section {
      gap: 3rem;
      min-height: 100svh;
      margin-top: var(--height-header);
      padding: 0 var(--padding-sm) 0;
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: 100svh;
    }

    .hero-section .copy {
      display: flex;
      flex-direction: column;
    }

    .hero-section .copy .heading {
      font-family: var(--font-primary);
      color: var(--color-heading);
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.02em;
      line-height: 1.1;
      font-size: var(--fs-h1-lg);
    }

    .copy .sub-heading {
      width: 100%;
      font-family: var(--font-secondary);
      font-weight: 300;
      font-size: var(--fs-p-md);
      line-height: 1.28;
      margin: 0;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 5px; /* base unit */
      gap: 0.5rem;
    }

    .item {
      grid-row: span 10;

      /* border-radius: var(--border-radius); */
    }

    .item.tall {
      grid-row: span 30;
    }

    .item.medium {
      grid-row: span 20;
    }

    .item > img,
    .item > video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .video-media {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    .video-media.loaded {
      opacity: 1;
      width: 100%;
      position: relative;
    }

    @media screen and (min-width: 768px) {
      .hero-section {
        padding-top: 2rem;
        padding-bottom: 4rem;
      }

      .item {
        grid-row: span 20;
      }

      .item.tall {
        grid-row: span 50;
        /* aspect-ratio: 9 / 16; */
      }

      .item.medium {
        grid-row: span 30;
      }
    }
    @media screen and (min-width: 992px) {
      .grid {
        width: 100%;
        /* background-color: red; */
        grid-template-columns: repeat(2, 1fr);
        height: 78vh;
        grid-template-rows: repeat(78, 1vh);
        gap: 0;
        /* overflow: hidden; */
      }

      .item {
        grid-row: span 30;
        margin: 0.2rem;
      }

      .item.tall {
        grid-row: span 78;
      }

      .item.medium {
        grid-row: span 48;
      }
    }
  </style>

  <link
    rel="preload"
    href="/assets/main.css"
    as="style"
    onload="
      this.onload = null;
      this.rel = 'stylesheet';
    "
  />

  <link rel="stylesheet" href="/assets/main.css" />
  {% vite "assets/scripts/main.js" %}
</head>
