{% set currentLang = lang %} {% set currentPage = pageKey %}
<section id="menu-section" class="menu-section hidden">
  <ul class="menu-list">
    <li>
      <a class="menu-link" href="#services">
        <span>01</span>{{ t.nav.services }}</a
      >
    </li>
    <li>
      <a class="menu-link" href="#company"
        ><span>02</span>{{ t.nav.company }}</a
      >
    </li>
    <li>
      <a class="menu-link" href="#testimonials"
        ><span>03</span>{{ t.nav.testimonials }}</a
      >
    </li>
    <li>
      <a class="menu-link" href="#contact"
        ><span>04</span>{{ t.nav.contact }}</a
      >
    </li>
  </ul>
  <div class="menu-bottom">
    <div class="social-net">
      <p class="title-section">Follow us</p>
      <ul class="social-net-links">
        <li>
          <a
            class="menu-link link"
            href="https://www.instagram.com/nunezassocies/"
            >Instagram</a
          >
        </li>
        <li>
          <a class="menu-link link" href="https://www.tiktok.com/@nunezassocies"
            >Tiktok</a
          >
        </li>
      </ul>
    </div>

    <div class="contact-menu">
      <p class="title-section">Let's connect</p>
      <a class="menu-link link" href="mailto:liftservicebel@gmail.com"
        >liftservicebel@gmail.com</a
      >
    </div>

    <div class="lang">
      <p class="title-section">Language</p>
      <div class="opt-lang">
        <a
          class="menu-link {% if currentLang == 'fr' %}current{% endif %}"
          hreflang="fr-be"
          href="{{ i18n.fr.routes[currentPage] }}"
        >
          FR
        </a>
        <a
          class="menu-link {% if currentLang == 'es' %}current{% endif %}"
          hreflang="es-es"
          href="{{ i18n.es.routes[currentPage] }}"
        >
          ES
        </a>
        <a
          class="menu-link {% if currentLang == 'en' %}current{% endif %}"
          hreflang="en-gb"
          href="{{ i18n.en.routes[currentPage] }}"
        >
          EN
        </a>
      </div>
    </div>
  </div>
</section>
